<form #tafelForm="ngForm" name="form" (ngSubmit)="tafelForm.form.valid && onSubmit()" novalidate>
    <div class="form-row">
        <label for="tafelNummer">Tafel nummer</label>
        <input type="number" class="form-control" id="tafelNummer" [(ngModel)]="tafel.tafelNummer" name="tafelNummer" #tafelNummer="ngModel" required>
        <div [hidden]="tafelNummer.valid || tafelNummer.pristine" class="alert alert-danger">
            tafelNummer is required
        </div>
    </div>

    <div class="form-row">
        <label for="aantalPersonen">Aantal personen</label>
        <input type="number" class="form-control" id="aantalPersonen" [(ngModel)]="tafel.aantalPersonen" name="aantalPersonen" #aantalPersonen="ngModel" required>
        <div [hidden]="aantalPersonen.valid || aantalPersonen.pristine" class="alert alert-danger">
            aantalPersonen is required
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!tafelForm.form.valid">Submit</button>
</form>