<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        <h1 id="aboutTitle">Over deze applicatie</h1>
        <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool Breda.
        </p>
        <h3>Restaurant Reservering</h3>
        <p>
            Met deze webapplicatie kunnen gebruikers nadat zij hebben geregistreerd en ingelogd zijn een reservering plaatsen bij een selectie van restaurants.<br> In tijden van Corona is het erg lastig zo veel mogelijk reserveringen op een dag te kunnen
            plaatsen met de opgelegde regels omtrent het virus.<br> Om te zorgen dat alles eerlijk verloopt en er genoeg reserveringen geplaatst kunnen worden zijn er vaste tijdsblokken van 2 uur.<br> Wanneer er geen tafel meer vrij is op het gevraagde
            tijdsblok kan er dus ook geen reservering geplaatst worden.<br>
        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/images/person.png" class="card-img-top rounded-circle border profile-pic" alt="..." />
            </div>
            <div class="card-body">
                <h5 class="card-title">Sam van der Flaas</h5>
                <p class="card-text">
                    Studentnummer: 2136321
                </p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <p>Restaurant</p>
        <ul>
            <!-- Als het lukt Number maken met autoincrement -->
            <li>id: string</li>
            <li>naam: string</li>
            <li>straat: string</li>
            <li>huisnr: number</li>
            <li>postcode: string</li>
            <li>telefoonnr: string</li>
            <li>tafels: Tafel[]</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Reservering</p>
        <ul>
            <!-- Als het lukt Number maken met autoincrement -->
            <li>id: string</li>
            <li>datum: date</li>
            <!-- Alleen vaste tijden om uit te kiezen, blokken van 2 uur tussen 14.00 en 22.00 -->
            <li>begintijd: timestamp</li>
            <li>eindtijd: timestamp</li>
            <li>tafelid: string</li>
            <!-- Gebruikerid wordt opgehaald van de ingelogde bezoeker -->
            <li>gebruikerid: string</li>
            <li>aantalPersonen: number</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Tafel</p>
        <ul>
            <!-- Als het lukt Number maken met autoincrement -->
            <li>id: string</li>
            <li>tafelnr: number</li>
            <li>aantalPersonen: number</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Use Cases</h3>
        <p>De applicatie biedt de volgende functionaliteit.</p>
        <div *ngFor="let UC of useCases">
            <app-usecase [useCase]="UC"></app-usecase>
        </div>
    </div>
</div>
