<h1>Tafel list</h1>
<p>Met uitleg hier</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tafel nummer</th>
            <th scope="col">Aantal personen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tafel of tafels$ | async">
            <th scope="row">
                <a routerLink="{{ tafel.id }}">{{ tafel.id }}</a>
            </th>
            <td>{{ tafel.tafelNummer }}</td>
            <td>{{ tafel.aantalPersonen }}</td>
        </tr>
    </tbody>
</table>