<div *ngIf="!(tafel$ | async)">
    <p>Loading ...</p>
</div>

<div *ngIf="tafel$ | async as tafel">
    <!-- we hebben hier nu een user variable uit de user$ Observable gehaald. -->
    <h1>Tafel id: {{ tafel.id }}, Tafelnummer: {{ tafel.tafelNummer }} <button routerLink=".." class="btn btn-dark">Terug</button> </h1>
    <p>Aantal personen: {{ tafel.aantalPersonen }}</p>
    <a routerLink="edit"><button class="btn btn-dark">Bewerken</button></a>
    <button class="btn btn-danger" (click)="delete(tafel.id)">Verwijderen</button>
</div>
